<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore role:require="Standalone or ContentDelivery or ContentManagement" search:require="solr">
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <!--
						Site Search
					-->
          <index id="<!-- ADD YOUR SOLR INDEX (WEB) NAME HERE -->" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="name">$(id)</param>
            <param desc="core">$(id)</param>
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
              <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">

                <!-- ADD YOUR FIELDS HERE IF YOU WANT TO CHERRY PICK FIELDS - I HAVE THIS TURNED ON FOR ALL FOR THE SAKE OF BREVITY -->
                <indexAllFields>true</indexAllFields>

                <include hint="list:AddIncludedTemplate">
                  <!-- ADD YOUR TEMPLATES HERE -->
                </include>

                <fields hint="raw:AddComputedIndexField">
                  <field fieldName="_pdfContent" returnType="string" type="Sitecore.ContentSearch.ComputedFields.MediaItemContentExtractor,Sitecore.ContentSearch">
                    <mediaIndexing ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/mediaIndexing" />
                  </field>
                  <field fieldName="_pageContent" type="Jester.Sitecore.ContentSearch.ComputedFields.SubContentIndexField, Jester.Sitecore.ContentSearch.ComputedFields" />
                </fields>

              </documentOptions>

              <mediaIndexing hint="skip">
                <mimeTypes>
                  <excludes>
                    <mimeType>*</mimeType>
                  </excludes>
                  <includes>
                    <mimeType>application/pdf</mimeType>
                    <mimeType type="Sitecore.ContentSearch.ComputedFields.MediaItemHtmlTextExtractor, Sitecore.ContentSearch">text/html</mimeType>
                    <mimeType>text/plain</mimeType>
                  </includes>
                </mimeTypes>
                <extensions>
                  <excludes>
                    <extension>*</extension>
                  </excludes>
                  <includes>
                    <extension>doc</extension>
                    <extension>dot</extension>
                    <extension>docx</extension>
                    <extension>xlsx</extension>
                    <extension>xlsm</extension>
                    <extension>pdf</extension>
                    <extension>ppt</extension>
                  </includes>
                </extensions>
              </mediaIndexing>

            </configuration>
            <strategies hint="list:AddStrategy">
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/syncMaster" />
            </strategies>

            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>
                  <!-- ADD THE PATH TO THE SITE ROOT HERE -->
                </Root>
              </crawler>
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>
                  <!-- ADD THE PATH TO THE PDF LIBRARY LOCATION IN SITECORE HERE -->
                </Root>
              </crawler>
            </locations>
            <enableItemLanguageFallback>false</enableItemLanguageFallback>
            <enableFieldLanguageFallback>false</enableFieldLanguageFallback>
          </index>



        </indexes>


      </configuration>
    </contentSearch>
  </sitecore>
</configuration>